.arrange {  background-image: url(/images/lawn.jpg);
  background-size: cover;
}

.fave-plant-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#canvas {
  display: flex;
  justify-content: center;
  align-content: center;
}
