$vs-component-line-height: 1.4 !default;

select{
  width:300px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

div.plantDetail{
  /* display: flex;
  flex-direction: column; */
  margin: auto;
  /* align-items: center; */
  max-width: 100px;
  justify-content: center;
}

img {
  height: 200px;
  padding: 5px;
}

button {
  margin-top: 10px;
}
$vs-colors: (

        light: rgba(60, 60, 60, 0.5),

) !default;
